@media (min-width: 1350px) {
    body {
        padding: 0% 25%;
    }
}

body {
    background-color: #eee;
}

p {
    text-align: justify;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 0px;
}

.pointer:hover {
    cursor: pointer;
    color: gray;
}

#categoriesHeader {
    text-align: center;
}

#companies {
    padding: 25px 25px;
    text-align: center;
}

#search {
    text-align: center;
}